#projet plugin rtl_433 for SDRSharp C#
.*
.vs/**
Rtl_433_Plugin/bin/**
Rtl_433_Plugin/obj/**
rtl_433_dll/**
debug_V1632/**
Debug_x64/**
GraphDisplay/**
rtl_433_dll/**
libusb/**
Release_x32/**
Release_x64/**
CI_x64/**
test_rtl_433_dll/**
debug/**
release/**
x64/**
Core Includes/**
SDRSharp/**
SDRSharp.CollapsiblePanel/**
SDRSharp.Common/**
SDRSharp.FrequencyEdit/**
SDRSharp.PanView/**
SDRSharp.Radio/**
"Core Includes"/**
GeneratedFiles/**
rtl-sdr/**
packages/**
!/.gitignore
!/.github
!/README.md
captures/**
UpgradeLog*
SDRSharp.psess
SDRSharp240913.vsp

